{
  "presets": [
    [
      "@babel/env",
      {
        "targets": "last 3 Edge versions, Safari > 7, last 10 Opera versions, last 20 Firefox versions, last 25 Chrome versions",
        "useBuiltIns": "usage",
        "corejs": {
          "version": "3.0",
          "proposals": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from",
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
  ]
}
